body{
    font-family: 'Poppins', sans-serif;
}

#logo{
    width: 80px;
}

.eventCard{
    background: #ffffff;
    box-shadow: 8px 4px 20px rgba(0,0,0,0.05);
    border-radius: 4px;
}

.teamCard{
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 80x 4px 20px rgba(0,0,0,0.5);
    border-radius: 4px;
}

#intro{
    margin-top: auto;
    margin-bottom: auto;
}

#motto{
    width: 350px;
    height: 350px;
    margin-top: 20px;
}

#teamPic{
    width: 350px;
    height: 350px;
}

footer{
    margin-top: -150px;
}

.anim{
    width: 400px;
    height: 400px;
}

#growth{
    width: 500px;
    height: 500px;
}

#events{
    margin-top: -100px;
}


@media (max-width: 767.98px) {

    .textAlter{
        text-align: center;
    }
    
    .anim{
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #growth{
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #intro{
        margin-top: -200px;
    }

    #motto{
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    #mottoDesc{
        margin-top: -100px;
    }

    #teamPic{
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-left: -10px;
    }

}