body{
    font-family: 'Poppins', sans-serif;

}
.shift{
    margin: 100px auto;
}
.para{
    font-size: 1.2rem;
    font-weight: 400 !important;
}

.pic{
    border-radius: 50%;
    height: 250px;
}
.icon:hover{
    filter: invert(45%) sepia(99%) saturate(318%) hue-rotate(93deg) brightness(100%) contrast(97%);
}
.font-light{
    font-weight: 300;
}
.font-bold{
    font-weight: 700;
}
@media(min-width:768px){
    .pic{
        height: 200px;
    }
}
@media(min-width:992px){
    .pic{
        height: 200px;
    }
}